# Gameserver
#Vars:
#%BRAND_NAME@ - full sitename for the brand
#%BRAND_NAME@.%FULL_HOSTNAME@ - full sitename for the brand + .dev.hostname
#
# Admin (unsecured area51)
<VirtualHost *:80>
        ServerName %NUMERIC_TAG_WITH_DOT@area51.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@qa.area51.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@stage.area51.%BRAND_NAME@
        ServerAlias *.%NUMERIC_TAG_WITH_DOT@dev.area51.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@area51.%BRAND_NAME@.%FULL_HOSTNAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@qa.area51.%BRAND_NAME@.%FULL_HOSTNAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@stage.area51.%BRAND_NAME@.%FULL_HOSTNAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@int.games1.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@int.area51.%BRAND_NAME@
        ServerAlias *.%NUMERIC_TAG_WITH_DOT@dev.area51.%BRAND_NAME@.%FULL_HOSTNAME@
        setEnv SYSTEM_ENVIRONMENT %BM_ENV@

        DocumentRoot /var/www/%BRAND_NAME@/%CORE_OR_TAG@.area51/public_html/area51/
</VirtualHost>

# Admin SSL (seperate because of /gs-area51/ only)
<VirtualHost *:443>
        ServerName %NUMERIC_TAG_WITH_DOT@area51.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@qa.area51.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@stage.area51.%BRAND_NAME@
        ServerAlias *.%NUMERIC_TAG_WITH_DOT@dev.area51.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@area51.%BRAND_NAME@.%FULL_HOSTNAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@qa.area51.%BRAND_NAME@.%FULL_HOSTNAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@stage.area51.%BRAND_NAME@.%FULL_HOSTNAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@int.games1.%BRAND_NAME@
        ServerAlias %NUMERIC_TAG_WITH_DOT@int.area51.%BRAND_NAME@
        ServerAlias *.%NUMERIC_TAG_WITH_DOT@dev.area51.%BRAND_NAME@.%FULL_HOSTNAME@
        setEnv SYSTEM_ENVIRONMENT %BM_ENV@

        DocumentRoot /var/www/%BRAND_NAME@/%CORE_OR_TAG@.area51/public_html/area51/
        SSLEngine On
        SSLCertificateFile /var/www/ssl.crt
        SSLCertificateKeyFile /var/www/ssl.key
</VirtualHost>
